.header {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.header span {
	display: block;
}

.form {
	border: 5px solid #2727d9;
	padding: 28px 20px;
}

.form_btn {
	margin-bottom: 5px;
	background-color: #27279d;
}

.form input {
	margin-bottom: 6px;

}

.section_with_form {
	margin: 20px;
}

.section {
	padding: 30px 0;
}

.section_header, .form_header {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 900;
}

.feature_box img {
	width: 80px;
	height: 80px;
}

.feature_box {
	text-align: center;
}

.features {
	margin: 60px auto;
}

.feature_box p {
	margin-top: 20px;
}

.features_btn_section {
	margin-top: 30px;
	text-align: center;
}

.video {
	margin-bottom: 30px;
}